<ngx-mat-datagrid [dataSource]="people">
  <ngx-mat-datagrid-column
    name="guid"
    disablePinning="disablePinning"
    headerText="GUID"
    headerTooltip="Unique identifier"
    sortable="sortable"
    resizable="resizable"
    width="200">
  </ngx-mat-datagrid-column>
  <ngx-mat-datagrid-column
    name="firstname"
    disablePinning="disablePinning"
    headerText="First Name"
    headerTooltip="The first name of the person."
    sortable="sortable"
    resizable="resizable"
    width="200">
  </ngx-mat-datagrid-column>
  <ngx-mat-datagrid-column
    name="lastname"
    disablePinning="disablePinning"
    headerText="Last Name"
    headerTooltip="The last name of the person."
    sortable="sortable"
    resizable="resizable"
    width="200">
  </ngx-mat-datagrid-column>
  <ngx-mat-datagrid-column
    name="age"
    disablePinning="disablePinning"
    headerText="Age"
    sortable="sortable"
    resizable="resizable"
    width="100">
  </ngx-mat-datagrid-column>
  <ngx-mat-datagrid-column
    name="phone"
    disablePinning="disablePinning"
    headerText="Phone"
    sortable="sortable"
    resizable="resizable"
    width="200">
  </ngx-mat-datagrid-column>
  <ngx-mat-datagrid-column
    name="mobile"
    disablePinning="disablePinning"
    headerText="Mobile"
    sortable="sortable"
    resizable="resizable"
    width="200">
  </ngx-mat-datagrid-column>
</ngx-mat-datagrid>
